<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaotao.acmfamily">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <!--配置Activity组件-->
        <!--欢迎界面-->
        <activity android:name="com.xiaotao.acmfamily.activity.WelcomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--测试-->
        <activity android:name="com.xiaotao.acmfamily.test.TestActivity"/>

        <!--配置Service组件-->
        <!--网络服务-->
        <service android:name = "com.xiaotao.acmfamily.service.ClientService"/>

    </application>

    <!--授权访问互联网-->
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
