<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaotao.Afamily">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">

        <!--配置Activity组件-->
        <!--欢迎界面-->
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录-->
        <activity android:name=".activity.LoginActivity"/>
        <!--注册-->
        <activity android:name=".activity.RegisterActivity"/>

        <!--主体功能界面-->
        <activity android:name=".activity.core.MainPageActivity"/>

        <!--测试-->
        <activity android:name=".test.TestActivity"/>

        <!--配置Service组件-->
        <!--网络服务-->
        <service android:name = ".service.ClientService"/>

    </application>

    <!--授权访问互联网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 添加操作闪光灯的权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 添加操作振动器的权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

</manifest>
