<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiaotao.Afamily">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:icon="@drawable/app_ico"
        android:theme="@style/AppTheme">

        <!--配置Activity组件-->
        <!--欢迎界面-->
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--登录-->
        <activity android:name=".activity.LoginActivity"/>
        <!--注册-->
        <activity android:name=".activity.register.RegisterActivity"/>
        <!--用户协议-->
        <activity android:name=".activity.register.AgreementPopWin"/>

        <!--主体功能界面-->
        <activity android:name=".activity.core.BasePageActivity"/>
        <!--任务讨论-->
        <activity android:name=".activity.core.ConversationListPageActivity"/>
        <!--主要菜单-->
        <activity android:name=".activity.core.HomePageActivity"/>
        <!--用户信息-->
        <activity android:name=".activity.core.UserPageActivity"/>


        <!--确认签到-->
        <activity android:name=".activity.popwin.ConfirmSignIn"
            android:theme="@style/MyDialogStyleBottom"/>

        <!--讨论聊天-->
        <activity android:name=".activity.subpage.ChatActivity"/>

        <!--任务一览-->
        <activity android:name=".activity.subpage.TaskListPage"/>
        <!--确认完成任务-->
        <activity android:name=".activity.popwin.ConfirmTask"
            android:theme="@style/MyDialogStyleBottom"/>

        <!--通知-->
        <activity android:name=".activity.subpage.NotifyPage"/>
        <!--设置-->
        <activity android:name=".activity.subpage.SettingsPage"/>
        <!--确认删除聊天记录-->
        <activity android:name=".activity.popwin.ConfirmConversation"
            android:theme="@style/MyDialogStyleBottom"/>

        <!--意见反馈-->
        <activity android:name=".activity.subpage.FeedbackPage"/>

        <!--配置Service组件-->
        <!--网络服务-->
        <service android:name = ".service.NetworkService"/>
        <!--本地设置-->
        <service android:name = ".service.LocalService"/>

    </application>

    <!--授权访问互联网-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 添加操作闪光灯的权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 添加操作振动器的权限 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

</manifest>
